body {
    color: #ececec;
    background-color: #333;
}

.absolute {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    width: 75%;
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #111;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px  0 100px 0;
}

h2 {
    text-transform: uppercase;
}

button {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 10px 0;
    background-color: transparent;
    color: #ececec;
    text-transform: uppercase;
    border: 1px solid #ececec;
    transition: .4s;
}

button .fa {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 59px;
    line-height: 60px;
    font-size: 2em;
    background-color: #ececec;
    color: #222;
}

button:hover {
    background-color: #ececec;
    color: #222;
}
